* {
  margin: 0;
  padding: 0; }

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

body {
  background-color: #E5E5E5;
  font-family: 'Open Sans', sans-serif; } 

/*Estilos varios*/

.titulo {
  color: #082032;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 50px;
  text-transform: uppercase;
  text-align: center;
  padding: 10px; }

.texto {
  color: #2C394B;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  text-align: center;
  margin-bottom: 50px;
  padding-left: 30px;
  padding-right: 30px; }

.boton {
  font-size: 20px;
  text-decoration: none;
  color: #FFF;
  background-color: #FF4C29;
  border-color: none;
  border-radius: 10px;
  padding: 12px;
  transition: all 1s; }

.textoLink {
  text-align: center;
  margin-bottom: 100px;
  margin-top: 50px;
  transition: all 1s; }

.linea{
	border-top: 1px solid grey;
	margin-bottom: 90px;
	opacity: 80%; }

.pieDePagina{
	background-color: #082032;
	padding: 30px;
}
.logoPieDePagina{
	display: flex;
	flex-direction: row;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
}
.texto3{
	color: #ffffffff;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	text-align: center;
}
.textoFirma{
	margin-top: 20px;
	color: #ffffffff;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	text-align: center;
	font-style: italic;
}

.frases{
	margin-bottom: 80px;
	opacity: 80%;
}
.textoFrases{
	color: #2C394B;
	font-family: 'Open Sans', sans-serif;
	font-size: 35px;
	font-style: italic;
	text-align: center;
	margin-bottom: 10px;
	padding-left: 100px;
	padding-right: 100px;
}
.textoFrases2{
	color: #2C394B;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-style: italic;
	text-align: center;
}

.textoLink{
	text-align: center;
	margin-bottom:  100px;
	margin-top: 50px;
}

.botonLinkItem{
	font-size: 20px;
	text-decoration: none;
	color: #ffffff;
	background-color: #FF4C29;
	border-color: none;
	border-radius: 10px;
	padding: 12px;
	transition: all 1s;
}
.botonLinkItem:hover{
	background-color: #2C394B;
}

/*Encabezado*/
header {
  background-color: #082032;
  margin: 0px; }

.encabezado {
  display: flex;
	justify-content: space-between;
	align-items: center;
	height: 75px;
	width: 100%;
	animation: fadeInDown;
	animation-duration: 1s; }

header nav .menuNavegacion {
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-right: 30px;
	text-transform: uppercase; }

.logoEncabezado{
  margin-left: 30px;
  width: 200px;
  height: 30px; }

.menuNavegacionItem{
  display: flex;
  justify-content: space-between;
  margin: 30px;
  transition: all 0.5s; }

.menuNavegacionItem:hover{
  transform: scale(1.1); }

.menuNavegacionLink{
  color: white;
  text-decoration: none;
  transition: all 0.5s; }

.menuNavegacionLink:hover{
  background: #FF4C29;
  opacity: 100%;
  padding: 5px;
  border-radius: 10px; }

/*Sección Portada de Inicio*/

.portada {
  width: 100%;
  max-width: 100vw; }
  
.banner {
  width: 100%;
  height: auto; }

.gradiente{
	width: 100%;
	height: 760px;
	background: rgb(255,76,41);
	background: linear-gradient(90deg, rgba(255,76,41,0.7875525210084033) 50%, rgba(252,176,69,0.8099614845938375) 100%);
	position: absolute;
	z-index: 2;
	opacity: 1; }

.videoPortada{
	height: 100vh;
	margin-bottom: 0px;
	animation: fadeIn;
	animation-duration: 6s; }

.sobreImagenPortada{
	position: absolute;
	z-index: 3;
	right: 30px;
	bottom: -50px;
	animation: fadeInRight;
	animation-duration: 1s; }

.iconoWhatsApp{
  position: fixed;
  z-index: 4;
  bottom: 40px;
  right: 30px;
  width: 4%;
  animation: fadeInUp;
	animation-duration: 1s;
	transition: width 0.5s; }
  
.iconoWhatsApp:hover {
	width: 5%; }



.iconoNosotros{
	margin-top: 50px;
	display: flex;
	margin-right: auto;
	margin-left:  auto;
	width: 150px; }

.iconoServicios{
	margin-top: 30px;
  display: flex;
  margin-right: auto;
	margin-left:  auto;
	width: 100px; }

p {
  color: #FFF;
  text-align: center; }

.empresas {
  display: flex;
  flex-wrap: wrap;
  margin-left: 100px;
  margin-right: 100px;
  justify-content: center; }

.logoEmpresas {
  width: 200px;
  margin: 10px;
  transition: all 0.5s; }

.logoEmpresas:hover{
	transform: scale(1.1); }

.contacto {
  display: flex;
  background-color: #082032;
  width: 100%;
  font-size: 20px; }

.mapa {
  margin: 30px; }

.form {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 30px;
  font-size: 16px; }

.formCampos {
  width: 310px;
  height: 25px;
  margin-bottom: 10px;
  font-size: 16px; }

.formMensaje {
  width: 630px;
  height: 200px;
  margin-right: 30px;
  font-size: 16px; }

.formSelectCheckbox {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 30px; }

.formBotones {
  display: flex;
  justify-content: space-between;
  margin-right: 30px; }

.formBotonEnviar {
  margin-top: 15px;
  width: 318px;
  height: 30px; }

.formBotonLimpiar {
  margin-top: 15px;
  width: 318px;
  height: 30px; }

.grupoIntegrantes{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly; }
.cardIntegrante{
	list-style-type: none; }

.imagenAvatar{
	display: flex;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 15px;
	width: 200px;
	border-radius: 50%;
  transition: all 0.5s; }

.imagenAvatar:hover{
	transform: scale(1.1); }

.empresas {
  display: flex;
  flex-wrap: wrap;
  margin-left: 100px;
  margin-right: 100px;
  justify-content: center;
  margin-bottom: 50px; }

.logoEmpresas {
  width: 200px;
  margin: 10px; }

.contactoLista {
  padding-left: 200px;
  padding-right: 200px;
  margin-bottom: 50px; }

.contactoCampos {
  width: 450px;
  height: 50px;
  margin-bottom: 10px;
  font-size: 16px; }

.contactoMensaje {
  width: 910px;
  height: 400px;
  margin-right: 30px;
  font-size: 16px; }

.contactoSelectChekbox {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  margin-right: 30px; }

.contactoBotones {
  display: flex;
  justify-content: space-between;
  margin-right: 30px; }

.contactoBotonEnviar {
  margin-top: 15px;
  width: 420px;
  height: 50px;
  font-size: 20px;
  text-decoration: none;
  color: #ffffff;
  background-color: #FF4C29;
  border-color: none;
  border-radius: 10px;
  padding: 12px; }

.contactoBotonLimpiar {
  margin-top: 15px;
  width: 420px;
  height: 50px;
  font-size: 20px;
  text-decoration: none;
  color: #ffffff;
  background-color: #FF4C29;
  border-color: none;
  border-radius: 10px;
  padding: 12px; }

/*Pie*/
footer {
  background-color: #082032;
  margin: 0px;
  padding: 10px; }