$color-fondo: #082032;
$color-texto: #FFF;
$margin: 0px;
$padding-size: 10px;

footer{
    background-color: $color-fondo;
	margin: $margin;
    padding: $padding-size;
}
p{
    color: $color-texto;
    text-align: center;
}