@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

$color-fondo-body: #E5E5E5;
$color-fondo-encabezado: #082032;
$ancho-encabezado: 100%;
$alto-encabezado: 50px;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: $color-fondo-body;
}

/*Encabezado y Menú de Navegación*/

header {
    width: $ancho-encabezado;
    height: $alto-encabezado;
    background: $color-fondo-encabezado;
    color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    animation: fadeInDown;
    animation-duration: 1s;
  }
  
  .whatsapp {
    position: absolute;
    z-index: 200;
    width: 5rem;
    transform: translateX(320%) translateY(550%);
  }
  
  .contenedor {
    width: 98%;
    margin: auto;
  }
  
  h1 {
    font-size: 28px;
    float: left;
    margin-left: 10px;
    margin-top: 5px;
  }
  
  #menuBar {
    display: none;
  }
  
  header label {
    float: right;
    font-size: 28px;
    margin: 6px 0;
    cursor: pointer;
  }
  
  .menu {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #082032;
    opacity: 90%;
    transition: all 0.5s;
    transform: translateX(-100%);
  }
  
  header .contenedor {
    display: table;
  }
  
  .menu a {
    display: block;
    color: #ffffff;
    height: 50px;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  
    &:hover {
      background: #FF4C29;
    }
  }
  
  #menuBar:checked ~ .menu {
    transform: translateX(0);
  }
  
  section {
    width: 100%;
  }

/*Pie de Página*/

footer {
    width: 100%;
    height: 60px;
    background: #082032;
    color: #ffffff;
  
    p {
      text-align: center;
      padding: 20px;
      font-size: 12px;
    }
  
    a {
      text-decoration: none;
      color: #FF4C29;
    }
  }
  