/*Tamaño media quierie para Smartphone*/

@media (min-width: 425px) {
    /*Pagina index.html*/
  
    header {
      height: 60px;
  
      div h1 {
        font-size: 30px;
        margin-top: 8px;
      }
    }
  
    .menu {
      top: 60px;
  
      a {
        font-size: 20px;
        height: 60px;
        padding: 15px;
  
        &:hover {
          background: #FF4C29;
        }
      }
    }
  
    .whatsapp {
      position: absolute;
      z-index: 200;
      width: 5rem;
      transform: translateX(400%) translateY(580%);
    }
  
    #banner {
      margin-top: 60px;
      margin-bottom: 30px;
      position: relative;
      height: 100vh;
      background-image: url('../media/portada.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  
      &:before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgb(255, 76, 41);
        background: linear-gradient(90deg, rgba(255, 76, 41, 0.787552521) 50%, rgba(252, 176, 69, 0.8099614846) 100%);
      }
  
      h1 {
        font-size: 130px;
      }
  
      p {
        font-size: 30px;
      }
    }
  
    #nosotros {
      h1 {
        font-size: 36px;
      }
  
      p {
        font-size: 18px;
      }
  
      img {
        width: 12rem;
        margin-right: auto;
        margin-left: auto;
        margin-top: 20px;
      }
    }
  
    #servicios {
      h1 {
        font-size: 36px;
      }
  
      h3 {
        font-size: 25px;
      }
  
      p {
        font-size: 18px;
      }
  
      img {
        width: 8rem;
        margin-right: auto;
        margin-left: auto;
        margin-top: 20px;
      }
    }
  
    #clientes {
      h1 {
        font-size: 36px;
      }
  
      p {
        font-size: 18px;
      }
  
      img {
        width: 10rem;
        margin-right: auto;
        margin-left: auto;
        margin-top: 20px;
      }
    }
  
    #contacto {
      h1 {
        font-size: 36px;
      }
  
      input {
        font-size: 18px;
      }
    }
  
    .selecciones {
      p {
        font-size: 18px;
      }
  
      select {
        font-size: 18px;
        height: 40px;
      }
    }
  
    .selecciones2 {
      display: grid;
      grid-template-columns: 1fr 0.3fr;
      grid-template-rows: 1fr;
      align-items: center;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  
    footer p {
      font-size: 14px;
      padding: 10px;
    }
  
    /*Pagina nosotros.html*/
  
    #bannerNosotros {
      margin-top: 60px;
      margin-bottom: 30px;
      position: relative;
      height: 100vh;
      background-image: url('../media/portadaNosotros.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  
      &:before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgb(255, 76, 41);
        background: linear-gradient(90deg, rgba(255, 76, 41, 0.787552521) 50%, rgba(252, 176, 69, 0.8099614846) 100%);
      }
  
      h1 {
        font-size: 65px;
      }
    }
  
    /*Pagina servicios.html*/
  
    #bannerServicios {
      margin-top: 60px;
      margin-bottom: 30px;
      position: relative;
      height: 100vh;
      background-image: url('../media/portadaServicios.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  
      &:before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgb(255, 76, 41);
        background: linear-gradient(90deg, rgba(255, 76, 41, 0.787552521) 50%, rgba(252, 176, 69, 0.8099614846) 100%);
      }
  
      h1 {
        font-size: 65px;
      }
    }
  
    #servicios .contenedor .cardServicios h1 {
      font-size: 30px;
      margin: 20px;
    }
  
    /*Pagina clientes.html*/
  
    #bannerClientes, #bannerContacto {
      margin-top: 60px;
      margin-bottom: 30px;
      position: relative;
      height: 100vh;
      background-image: url('../media/portadaClientes.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  
      &:before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgb(255, 76, 41);
        background: linear-gradient(90deg, rgba(255, 76, 41, 0.787552521) 50%, rgba(252, 176, 69, 0.8099614846) 100%);
      }
  
      h1 {
        font-size: 65px;
      }
    }
  
    /*Pagina contacto.html*/
  }
  