$card-color: #FF4C29;
$card-texto-color: #FFF;
$ancho-imagen: 150px;
$padding-size: 10px;

.grupoIntegrantes{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.cardIntegrante{
	list-style-type: none;
}