@mixin max-width{
    max-width: 100vw;
}
@mixin border-card{
    border: 2px solid #fff;
}
@mixin color-boton{
    background-color: #FF4C29;
}
.col-12{
    width: ($ancho / 12) * 12;
}
.col-6{
    width: ($ancho / 12) * 6;
}